<%- include("partials/sideNav.ejs") %>


<div class="content" style="padding: 10px">

    <img src="/images/user.png" alt="">
    <h2><%=data.name%></h2>
    <p style="align-items: right ; width: 100%;"><%=data.blood%></p>
    <p><%=data.contact%></p>
    <p><%=data.username%></p>
    
</div>
